body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: black;
}
.h_100{
    height: 100vh;
}
.hwhite:hover{
    color: rgb(255, 255, 255);
}
.hgrey:hover{
    color: rgb(141, 141, 141);
}
.footer-container{
    position: relative;
    z-index: 100;
    box-shadow: -1px 1px 136px 200px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 1px 136px 200px rgba(0,0,0,1);
    -moz-box-shadow: -1px 1px 136px 200px rgba(0,0,0,1);
}
.card{
    border: none;
}
.info{
    background-color: rgba(1, 0, 56, 0.473) !important;
    box-shadow: 1px 1px 75px 2px rgba(0,0,0,0.88);
    -webkit-box-shadow: 1px 1px 75px 2px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 1px 75px 2px rgba(0,0,0,0.88);
}
.fuente-atr{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(155, 155, 155);
    font-weight: bold;
}
.gracias{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.modal-content{
    background-color: rgb(50, 4, 255);
    color: white;
    box-shadow: 1px 1px 75px 2px rgba(0,0,0,0.88);
    -webkit-box-shadow: 1px 1px 75px 2px rgba(0,0,0,0.88);
    -moz-box-shadow: 1px 1px 75px 2px rgba(0,0,0,0.88);
}
.textarea{
    width: 100%;
    height: 300px;
    resize: none;
}
@media (min-width: 763px) {
    .nav-mobile{
        display: none;
    }
    .text-mobile{
        display: none;
    }
    
}
@media (max-width: 400px) {
    .btn-contact{
        font-size: 2em;
    }
}
@media (max-width: 762px) {
    body{
        margin: 0;
        border: 0;
        box-sizing: border-box;
        background-color: black;
    }
    .nav-desk{
        display: none;
    }
    .material-icons{
        font-size: 2em;
    }
    .text-desk{
        display: none;
    }
}
